/*// google font nicetome//*/


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*// css reset (verygood)//*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cambria', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028_960_720.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    background-color: #45b6eb;
    color: e68d08;
    font-size: 1.2vw;
}

#survey-form {
    background-color: #4bd88a5d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
}

#submit {
    background: #3a5bc0;
    color: #fff;
    padding: .8rem;
    cursor: pointer;
    font-size: 1.20rem;

}

.form {
    width: 100%;
    padding: .8rem;
    border-radius: 6.5px;
    font-size: 1.1rem;
    border: none;
}

#title {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
}

#description {
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem;
}

#header {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
}

#main {
    padding: 0% 20% 0% 20%;
}

@media only screen and (max-width:480px) {

    #main {
        padding: 0% 0% 0% 0%;
    }
}